.text-orange{
    color: #fd7e14;
}

.navbar-laranja {
    background-color: #fd7e14; /* Cor laranja */
}

.btn-orange {
    color: #fff;
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-orange:hover {
    color: #fff;
    background-color: #e3690f;
    border-color: #e3690f;
}
.link_registrar{
    text-decoration: none;
    color: #FF914D;
}
.logo-skill{
    font-family: 'New Amsterdam', 
    sans-serif;font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
}

:hover .navbar-brand{
    color: white;
}

.curso {
    transition: transform 0.3s ease;
}

a:hover .curso {
    transform: scale(1.05);
}

.desativado {
    pointer-events: none; 
    opacity: 0.5;
    filter: grayscale(100%); 
}

#pesquisar {
    border: 1px solid #333; /* Borda escura */
    color: #333; /* Texto escuro */
    padding: 10px;
    border-radius: 15px;
}

#pesquisar::placeholder {
    color: #666; 
}

